@use "./variables" as *;

@media screen and (max-width: 428px) {
  .header {
    width: 97.5vw;
    height: 3rem;
    /*position: fixed;
    background-color: $color-background;*/ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    &__left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 60%;
    }

    &__logo {
      color: $color-primary;
      width: 2rem;
      height: 1.08rem;
      top: 1.3px;
      right: -16px;
      position: relative;
    }

    &__line {
      color: $color-primary;
      position: relative;
      top: 1.5px;
      right: 4px;
    }

    &__name {
      font-family: $font-primary;
      font-size: $font-name;
      color: $color-primary;
      margin-left: 10px;
    }

    &__sort {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      color: $color-primary;
    }
  }
}
