@use "./variables" as *;
@use "./mixins" as *;

/*Global*/
.home {
  @include flexPageDisplay();
  justify-content: space-evenly;
  @include pageDimensions();
  margin-top: 0;
  background-color: $color-home;

  &__intro {
    font-family: $font-secondary;
    color: $color-secondary;
    font-size: $font-small;
    padding-left: 2rem;
    padding-right: 1.4rem;
  }
}

/*Mobile*/
@media screen and (max-width: 428px) {
  .home {
    &__title {
      font-family: $font-primary;
      color: $color-primary;
      font-size: $font-big;
      margin-top: 1.25rem;
      padding-left: 2rem;
      padding-right: 1.4rem;
    }

    &__button {
      background-color: $color-primary;
      width: 80vw;
      height: 10vh;
      font-family: $font-secondary;
      font-size: $font-home;
      color: $color-body;
    }

    &__icon {
      margin-left: 1rem;
    }
  }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
.home {

    &__title {
      font-family: $font-primary;
      color: $color-primary;
      font-size: $font-big;
      margin-top: 1.25rem;
      padding-left: 2rem;
      padding-right: 1.4rem;
    }

    &__button {
      background-color: $color-primary;
      width: 80vw;
      height: 10vh;
      font-family: $font-secondary;
      font-size: $font-home;
      color: $color-body;
    }

    &__icon {
      margin-left: 1rem;
    }
  }
}
