@use "./variables" as *;

@media screen and (max-width: 428px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 37rem;
    margin: 1rem;
    padding: 2rem;
    background-color: $color-background;

    &__intro{
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: $font-small;
    }

    &__title{
        font-family: $font-primary;
        color: $color-primary;
        font-size: $font-big;
        margin-top: 1.25rem;
    }
  }
}
