@use "./variables" as *;
@use "./mixins" as *;

@media screen and (max-width: 428px) {
  .home {
    @include flexPageDisplay();   
    justify-content: space-evenly;
    @include pageDimensions();
    margin-top: 0;
    background-color: $color-home;

    &__intro{
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: $font-small;
        padding-left: 2rem;
        padding-right: 1.4rem;
        
    }

    &__title{
        font-family: $font-primary;
        color: $color-primary;
        font-size: $font-big;
        margin-top: 1.25rem;
        padding-left: 2rem;
        padding-right: 1.4rem;
    }
  }
}
