@use "./variables" as *;
@use "./mixins" as *;

@media screen and (max-width: 428px) {
  .my-projects {
    @include flexPageDisplay;
    margin: 1rem;
    padding-top: 2rem;
    border: 1px solid black;

    &__title {
      @include titleStyling();
    }
  }

  .card {
    border: 2px solid black;
    width: 100%;
    height: 30rem;

    &__preview {
      border: 2px solid black;
      height: 50%;
      background-color: $color-background;
    }

    &__description {
      @include flexPageDisplay();
      align-items: flex-start;
      justify-content: space-evenly;
      margin-top: 2rem;
    }

    &__subtitle {
      font-family: $font-secondary;
      color: $color-subtitle;
      text-transform: uppercase;
      font-size: $font-small;
    }

    &__text {
      font-family: $font-secondary;
      font-size: $font-small;
      color: $color-secondary;
      @include justifyText();
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__label {
      font-family: $font-secondary;
      color: $color-primary;
      text-transform: uppercase;
      font-size: $font-small;
    }

    &__code {
      position: relative;

      &--left {
        top: -4px;
        right: -3px;
      }

      &--right {
        top: -3.65px;
        right: 3px;
      }
    }
  }
}
