@use "./variables" as *;
@use "./mixins" as *;

@media screen and (max-width: 428px) {
  .my-projects {
    @include flexPageDisplay;
    margin: 1rem;
    padding-top: 2rem;
    border: 1px solid black;

    &__title {
      @include titleStyling();
    }

    &__card {
      border: 2px solid black;
      width: 100%;
      height: 30rem;

      &--preview {
        border: 2px solid black;
        height: 50%;
        background-color: $color-background;
      }

      &--description {
        @include flexPageDisplay();
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 2rem;
      }

      &__subtitle {
        font-family: $font-secondary;
        color: $color-subtitle;
        text-transform: uppercase;
        font-size: $font-small;
      }

      &--text {
        font-family: $font-secondary;
        font-size: $font-small;
        color: $color-secondary;
        @include justifyText();
      }

      &--links {
      }

      &--label {
        font-family: $font-secondary;
        color: $color-primary;
        text-transform: uppercase;
        font-size: $font-small;
      }
    }
  }
}
