@use "./variables" as *;
@use "./mixins" as *;

@media screen and (max-width: 428px) {
  .my-projects {
    @include flexPageDisplay;
    margin: 0.75rem;
    padding-top: 1rem;

    &__title {
      @include titleStyling();
      padding-bottom: 1rem;
    }
  }

  .card {
    width: 100%;
    height: 30rem;
    margin-top: 1rem;

    &__preview {
      border: 2px solid black;
      height: 50%;
      background-color: $color-background;
    }

    &__description {
      @include flexPageDisplay();
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 1rem;
      height: 50%;
    }

    &__subtitle {
      font-family: $font-secondary;
      color: $color-subtitle;
      text-transform: uppercase;
      font-size: $font-small;
    }

    &__title {
      @include titleStyling();
    }

    &__text {
      font-family: $font-secondary;
      font-size: $font-small;
      color: $color-secondary;
      @include justifyText();
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      padding-right: 30%;
      margin-bottom: 2rem;
    }

    &__label {
      font-family: $font-secondary;
      color: $color-primary;
      text-transform: uppercase;
      font-size: $font-small;
      margin-right: 0.5rem;
    }

    &__link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 1rem;
    }

    &__icon {
      color: $color-primary;
    }
  }
}
