@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');

/*Font attributes*/
$font-primary: "Raleway", "Nunito Sans", sans-serif;
$font-secondary: "Nunito Sans", "Raleway", sans-serif;
$font-name: 1.25rem;
$font-button: 0.5rem;
$font-big: 3rem;
$font-medium: 2rem;
$font-small: 0.9rem;
$font-home: 1.5rem;

/*Color attributes*/
$color-primary: #1d9089;
$color-secondary: #50a977;
$color-subtitle: #bcca8e;
$color-home: #eeefe6;
$color-background: #e5e5b9;
$color-body: #eeefe698;