@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');

$font-primary: "Nunito Sans", "Raleway", sans-serif;
$font-secondary: "Raleway", "Nunito Sans", sans-serif;
$font-name: 1.25rem;
$font-button: 0.5rem;
$font-big: 3rem;
$font-small: 1rem;
$color-primary: #170F49;
$color-secondary: #8C9CB1;
$color-background: #F7FAFA;