@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap');

$font-primary: "Raleway", "Nunito Sans", sans-serif;
$font-secondary: "Nunito Sans", "Raleway", sans-serif;
$font-big: 1.25rem;
$font-small: 0.5rem;