@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap");
/*Font attributes*/
/*Color attributes*/
@media screen and (max-width: 428px) {
  .header {
    max-width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
  }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    margin: 10px;
  }
  .header__logo--left {
    position: relative;
    top: -4px;
    right: -3px;
  }
  .header__logo--right {
    position: relative;
    top: -3.65px;
    right: 3px;
  }
  .header__name {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    font-size: 1.25rem;
    margin: 10px;
    color: #170F49;
  }
  .header__button {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 428px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 37rem;
    margin: 1rem;
    padding: 2rem;
    background-color: #F7FAFA;
  }
  .home__intro {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    color: #8C9CB1;
    font-size: 0.9rem;
  }
  .home__title {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    color: #170F49;
    font-size: 3rem;
    margin-top: 1.25rem;
  }
}
/*Used to style a page where the title is centered on top of page contents, and all are centered horizontally*/
@media screen and (max-width: 428px) {
  .technical-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 37rem;
    margin: 1rem;
    padding-top: 2rem;
    border: 1px solid black;
  }
  .technical-skills__title {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    color: #170F49;
    font-size: 2rem;
  }
  .technical-skills__grid {
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
  }
  .technical-skills__grid--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .technical-skills__grid--image {
    width: 100px;
    height: 100px;
  }
  .technical-skills__grid--label {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    font-size: 0.9rem;
    opacity: 90%;
    color: #8C9CB1;
  }
}
@media screen and (max-width: 428px) {
  .my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding-top: 2rem;
    border: 1px solid black;
  }
  .my-projects__card {
    border: 2px solid black;
    width: 100%;
    height: 30rem;
  }
  .my-projects__card--preview {
    border: 2px solid black;
    height: 50%;
    background-color: #E3F6F5;
  }
  .my-projects__card--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .my-projects__card--subtitle {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    color: #BAE8E8;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  .my-projects__card--text {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    font-size: 0.9rem;
    color: #8C9CB1;
    text-align: justify;
    text-justify: inter-word;
  }
  .my-projects__card--label {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    color: #170F49;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}
* {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */