@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Raleway&display=swap");
/*Font attributes*/
/*Color attributes*/
* {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 428px) {
  .header {
    width: 97.5vw;
    height: 3rem;
    /*position: fixed;
    background-color: $color-background;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
  }
  .header__logo {
    color: #1d9089;
    width: 2rem;
    height: 1.08rem;
    top: 1.3px;
    right: -16px;
    position: relative;
  }
  .header__line {
    color: #1d9089;
    position: relative;
    top: 1.5px;
    right: 4px;
  }
  .header__name {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    font-size: 1.25rem;
    color: #1d9089;
    margin-left: 10px;
  }
  .header__sort {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    color: #1d9089;
  }
}
/*Used to style a page where the title is centered on top of page contents, 
and all are centered horizontally*/
@media screen and (max-width: 428px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 37rem;
    margin: 0.75rem;
    padding-top: 2rem;
    margin-top: 0;
    background-color: #edefe5;
  }
  .home__intro {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    color: #50a977;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 1.4rem;
  }
  .home__title {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    color: #1d9089;
    font-size: 3rem;
    margin-top: 1.25rem;
    padding-left: 2rem;
    padding-right: 1.4rem;
  }
}
@media screen and (max-width: 428px) {
  .technical-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 37rem;
    margin: 0.75rem;
    padding-top: 2rem;
  }
  .technical-skills__title {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    color: #1d9089;
    font-size: 2rem;
  }
  .technical-skills__grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
  }
  .technical-skills__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .technical-skills__logo {
    font-size: 4rem;
    color: #1d9089;
    opacity: 0.8;
    margin-bottom: 0.4rem;
  }
  .technical-skills__label {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    font-size: 0.9rem;
    opacity: 0.6;
    color: #50a977;
  }
}
@media screen and (max-width: 428px) {
  .my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.75rem;
    padding-top: 2rem;
  }
  .my-projects__title {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    color: #1d9089;
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .card {
    width: 100%;
    height: 30rem;
    margin-top: 1rem;
  }
  .card__preview {
    height: 50%;
    background-color: #e5e5b9;
  }
  .card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 1rem;
    height: 50%;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
  .card__subtitle {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    color: #bcca8e;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  .card__title {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    color: #1d9089;
    font-size: 2rem;
  }
  .card__text {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    font-size: 0.9rem;
    color: #50a977;
    text-align: justify;
    text-justify: inter-word;
  }
  .card__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding-right: 30%;
    margin-bottom: 2rem;
  }
  .card__label {
    font-family: "Raleway", "Nunito Sans", sans-serif;
    color: #1d9089;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }
  .card__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
  }
  .card__icon {
    color: #1d9089;
  }
}
@media screen and (max-width: 428px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 37rem;
    margin: 0.75rem;
    padding-top: 2rem;
  }
  .about-me__title {
    font-family: "Nunito Sans", "Raleway", sans-serif;
    color: #1d9089;
    font-size: 2rem;
  }
  .about-me__picture {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .about-me__info {
    text-align: justify;
    text-justify: inter-word;
    font-family: "Raleway", "Nunito Sans", sans-serif;
    font-size: 0.9rem;
    color: #50a977;
    margin-bottom: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */